<ion-header>
  <ion-toolbar>
    <ion-title>newsList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor= "let noticia of noticias; let indice = index">
        <ion-card-header>
          <ion-card-title>{{ noticia.titulo }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content [routerLink]="'/news-detail/' + noticia.noticiaID">
          {{noticia.descripcion}}
          <p><strong>Autor: </strong> {{noticia.autor.nombre}} {{noticia.autor.apellido}}</p>
          <p><strong>Fecha: </strong> {{noticia.fecha | date}}</p>
        </ion-card-content>
        <ion-buttons slot = 'start'>
          <ion-button color = "danger" fill = "clear" (click)="deleteNew(noticia.noticiaID), indice">Eliminar</ion-button>
          <ion-button color="primary" fill="clear" (click)="dNew(noticia.noticiaID), indice">Editar</ion-button>
        </ion-buttons>
        
        
      </ion-card>
</ion-content>
