<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title>Add New</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)] = "noticia.titulo" placeholder="Enter news title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)] = "noticia.descripcion" rows="2" placeholder="Enter news description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Content</ion-label>
      <ion-textarea [(ngModel)] = "noticia.contenido" rows="6" placeholder= "Enter news content"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime [(ngModel)] = "noticia.feecha" display-format="DD MMM, YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Author</ion-label>
      <ion-select placeholder="Select One" [(ngModel)] = "noticia.autorID" interface="popover">
        <ion-select-option *ngFor = "let autor of autores" [value]="autor.autorID">{{autor.nombre}} {{autor.apellido}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" *ngIf="!esEditable" (click) = "guardar()">Save New</ion-button>
    <ion-button expand="block" *ngIf="esEditable" (click)="editar()">Edit New</ion-button>
  </ion-list>

</ion-content>
